body {
    background-color: blue;
}

h1 {
    font-size: 120px;
    color: whitesmoke;
    text-align: center;
}

aside {
    width: 50%;
    padding-top: 15px;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }

footer {
    background-color: grey;
}

#slides {margin-bottom:10px;}
#tourDates {margin-top: 10px;}

.carousel_max {
    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.carousel_max img {
    object-fit: contain;
    object-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
}